<div class="container-fluid body">
  <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar card">
        <div class="profile-userpic">
          <img src="./assets/catAvatar.jpg" class="mx-auto" alt="" />
        </div>
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            {{ currentUser.firstName | titlecase }}
            {{ currentUser.lastName | titlecase }}
          </div>
          <div class="profile-usertitle-job">
            {{ currentUser.email | lowercase }}
          </div>
        </div>
        <div class="profile-usermenu">
          <ul class="nav d-block">
            <li class="nav-item" routerLinkActive="active">
              <a routerLink="/settings/profile">
                <i class="fa fa-user"></i>
                Profile
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a routerLink="/settings/address">
                <i class="fa fa-address-card"></i>
                Address
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a routerLink="/settings/payment-details">
                <i class="fa fa-credit-card"></i>
                Payment Details
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a routerLink="./home">
                <i class="fa fa-arrow-left"></i>
                Go to Home
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="profile-content card">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
