label {
  font-size: 14px;
}

.header-container {
  align-items: center;
}

.payment-methods-list-container {
  margin: 10px 0px 20px 0px;
  min-width: 360px;
}

.text-small {
  font-size: 12px;
  font-weight: 500;
}

.payment-method-card:hover{
    cursor: pointer;
}

.selected-payment-method-card{
    cursor: pointer;
    border-width: 2px;
    border-color: #222;
}
