.card-container.card {
  padding: 20px 20px;
  min-width: 360px;
}

.app-title {
  font-family: "Mali", cursive;
  color: #d3803c;
  margin-left: -2px;
}

.header {
  margin-top: 40px;
  margin-left: 30px;
  display: flex;
  align-items: bottom;
}

.btn {
  font-weight: 700;
  height: 36px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

.card {
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.card-title {
  margin-bottom: 20px;
  font-weight: bold;
}

.profile-img-card {
  width: 40px;
  height: 40px;
  display: block;
}

.profile-name-card {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 0;
  min-height: 1em;
}

.form-forgotPw .form-control:focus {
  border-color: rgb(104, 145, 162);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgb(104, 145, 162);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(104, 145, 162);
}

.btn.btn-update-pw,
.btn.btn-verify {
  background-color: #1cbbea;
  font-weight: 700;
  font-size: 14px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
}

.btn.btn-update-pw:hover,
.btn.btn-update-pw:active,
.btn.btn-update-pw:focus,
.btn.btn-verify:hover,
.btn.btn-verify:active,
.btn.btn-verify:focus {
  background-color: #444d89;
}

i {
  padding-left: 10px;
  padding-right: 10px;
}

.btn.btn-login {
  display: block;
  padding: 0px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 14px;
  height: 36px;
  color: #555555;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
}

.btn.btn-login:hover,
.btn.btn-login:active,
.btn.btn-login:focus {
  color: #000000;
}
