<div class="container-fluid">
  <div class="header">
    <img
      id="profile-img"
      class="profile-img-card"
      src="./assets/zorn-logo.png"
    />
    <h1 class="app-title">orn</h1>
  </div>
  <div
    class="card card-container col-lg-6 col-md-10 col-sm-12"
    *ngIf="!showPasswordEntries"
  >
    <div class="card-body">
      <h4 class="card-title">Forgot Password?</h4>
      <form
        class="form-forgotPw"
        (ngSubmit)="onSubmitEmailValidation()"
        [formGroup]="emailValidationForm"
      >
        <div class="d-flex">
          <div class="w-100">
            <input
              type="email"
              id="inputEmail"
              class="form-control"
              formControlName="email"
              placeholder="Email address"
              [ngClass]="{
                'is-invalid':
                  isEmailValidationFormSubmitted &&
                  emailValidationFormControls['email'].errors
              }"
            />
            <div
              *ngIf="
                isEmailValidationFormSubmitted &&
                emailValidationFormControls['email'].errors
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  emailValidationFormControls['email'].errors &&
                  emailValidationFormControls['email'].errors['required']
                "
              >
                <p class="errorText">Email is required</p>
              </div>
            </div>
            <div
              *ngIf="
                isEmailValidationFormSubmitted &&
                emailValidationFormControls['email'].errors
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  emailValidationFormControls['email'].errors &&
                  emailValidationFormControls['email'].errors['email']
                "
              >
                <p class="errorText">
                  Enter a valid email address, e.g., john@example.com
                </p>
              </div>
            </div>
          </div>
          <div>
            <button
              class="btn btn-lg btn-primary btn-verify ml-2 pl-4 pr-4"
              type="submit"
            >
              Verify
            </button>
          </div>
        </div>
      </form>
      <button class="btn btn-lg btn-login" routerLink="/login">
        <i class="fa fa-arrow-left"></i>Login
      </button>
    </div>
  </div>

  <div
    class="card card-container col-lg-6 col-md-10 col-sm-12"
    *ngIf="showPasswordEntries"
  >
    <div class="card-body">
      <h4 class="card-title">Reset Password?</h4>
      <form
        class="form-forgotPw"
        (ngSubmit)="onSubmitResetPasswordForm()"
        [formGroup]="resetPasswordForm"
      >
        <div class="form-row">
          <div class="form-group col-md-12">
            <input
              type="password"
              id="inputPassword"
              class="form-control"
              formControlName="password"
              placeholder="Password"
              [ngClass]="{
                'is-invalid':
                  isResetPasswordFormSubmitted &&
                  resetPasswordFormControls['password'].errors
              }"
            />
            <div
              *ngIf="
                isResetPasswordFormSubmitted &&
                resetPasswordFormControls['password'].errors
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  resetPasswordFormControls['password'].errors &&
                  resetPasswordFormControls['password'].errors['required']
                "
              >
                <p class="errorText">Password is required</p>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <input
              type="password"
              id="inputConfirmPassword"
              class="form-control"
              formControlName="cPassword"
              placeholder="Confirm Password"
              [ngClass]="{
                'is-invalid':
                  isResetPasswordFormSubmitted &&
                  resetPasswordFormControls['cPassword'].errors
              }"
            />
            <div
              *ngIf="
                isResetPasswordFormSubmitted &&
                resetPasswordFormControls['cPassword'].errors
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  resetPasswordFormControls['cPassword'].errors &&
                  resetPasswordFormControls['cPassword'].errors['required']
                "
              >
                <p class="errorText">Confirm Password is required</p>
              </div>
            </div>
            <div
              *ngIf="
                isResetPasswordFormSubmitted &&
                resetPasswordFormControls['cPassword'].errors
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  resetPasswordFormControls['cPassword'].errors &&
                  resetPasswordFormControls['cPassword'].errors['mustMatch']
                "
              >
                <p class="errorText">Password Mismatch</p>
              </div>
            </div>
          </div>
        </div>
        <button
          class="btn btn-lg btn-primary btn-block btn-update-pw"
          type="submit"
        >
          Update Password
        </button>
      </form>
      <button class="btn btn-lg btn-login" routerLink="/login">
        <i class="fa fa-arrow-left"></i>Login
      </button>
    </div>
  </div>
</div>
